body
{
	background-image: url("background.jpg");
}
header
{
	background-image: url("logomea");
	background-attachment: fixed; /* Le fond restera fixe */
    	background-repeat: no-repeat; /* Le fond ne sera pas répété */
  	background-position:top right; /* Le fond sera placé en haut à droite */
	color:red;
	font-size: large;
 	font-family: Arial Black;
}
form
{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
/* Full-width inputs */
nav {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left; 
}

h1
{
    	color: red;
	font-familly: Georgia;
	width: 38%;
        margin: 0 auto;
	padding-bottom: 10px;
}
introduction
{
	color:blue;
	font-size : 20px;
	font-family: Courier New;
}
em
{
	font-style: oblique;
	color : red;
	width: 100%;
   	 padding: 12px 20px;
  	  margin: 8px 0;
  	  display: inline-block;
  	  border: 1px solid #ccc;
   	 box-sizing: border-box;
   	 box-position: right; 
}
p
{
 	text-align:  right;	
	font-size : 25px;
	color:black;
	font-size: large;
 	font-family: Arial Black;
  	 box-position: right;
}